* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48A6A7;
    flex-direction: column;

}

.result {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    border: none;
    margin: 5px;
    border-radius: 5px;
    color: red;
    background-color: #F2EFE7;
    font-size: 70px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.reset-btn {
    margin-top: 5px;
    width: 30vmin;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: large;
    background-color: #023b3f;
    color: aliceblue;
}

.new-btn {
    margin-top: 15px;
    width: 30vmin;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: large;
    background-color: #023b3f;
    color: aliceblue;
}

.reset-btn:hover {
    background-color: #082727;
}